@model IEnumerable<Aleida1.Models.Pcdetails>
@{
    ViewBag.Title = "Analytics";
}

<div class="container">

    <br /><br /><br /><br />

    <h1>
        Hourly Network Activity
    </h1>
<!--    
-->
    <canvas id="bar-chart" width="800" height="280"></canvas>
    <br /><br /><br /><br /><br /><br />

    <script type="text/javascript">
        // Bar chart
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
                datasets: [
                    {
                        label: "upload rate ",
                        backgroundColor: "#3e95cd",
                        data: [378, 367, 334, 284, 278, 267, 134, 84, 78, 57, 74, 74, 48, 67, 74, 84, 98, 137, 154, 184, 233, 434, 484, 533]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Network traffic in Kbps'
                }
            }
        });

    </script>
    <h1>
        Lan IP List
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        @{ var i = 1;}
        @{ bool affected = false;}
        @foreach (var item in Model)
        {

            @if (item.Affected==1)
            {
                affected = true;
            }
            else
            {
                affected = false;
            }
            <tbody>
                    @if (affected)
                    {
                    <tr class="table-warning">
                            <td>@i</td>
                            @{ i = i + 1;}
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.IpAddress)</td>
                            <td>
                                @Html.ActionLink("Affected", "Details", "Home", new { id = item.Id })
                            </td>
                    </tr>
                    }
                    else
                    {
                    <tr class="table-success">
                        <td>@i</td>
                        @{ i = i + 1;}
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.IpAddress)</td>
                        <td>
                            @Html.ActionLink("Normal", "Details", "Home", new { id = item.Id })
                        </td>
                    </tr>
                    }
        </tbody>
        }
    </table>

</div>
