@model Aleida1.Models.Pcdetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pcdetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Affected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Affected)
        </dd>
    </dl>
</div>
<div>
</div>
