@model Aleida1.Models.Pcdetails

@{
    ViewData["Title"] = "Details";
    string result = "success";
    string message = " is safe";
    string color = "#3e95cd";
}
<br />
<br />
    @if (Model.Affected==1)
    {
        result = "danger";
        message = " is in danger";
        color = "#dd2518";
    }
    <div class="alert alert-@result" role="alert">
        <h1>
            <b>
                @Model.Name 
            </b>
            @message
        </h1>
    </div>

<div>
    <h4>PC Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
    </dl>
</div>
<div>
</div>

<br /><br /><br /><br />

<h1>
    Hourly Network Connections
</h1>
<!--
-->
<canvas id="bar-chart" width="800" height="280"></canvas>
<br /><br /><br /><br /><br /><br />

<script type="text/javascript">
        // Bar chart
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
                datasets: [
                    {
                        label: "Connections ",
                        backgroundColor: "@color",
                        data: @ViewData["str"] ,
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Network Activity'
                }
            }
        });

</script>

<h3>
    <strong>
        Suspected connections by @Model.Name
    </strong>
</h3>

@Html.Raw(ViewBag.list)

<br/><br/>